/*
* iForum v1.0 (http://www2.ifrn.edu.br/iforum)
* Desenvolvedores : Carlos Herique && Bianca Santiago;
* Data : 19/06/2014 - (12:45:50);
*/
/* ======== Imports ======== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,300,500);

*, .body-initial{margin: 0px;padding:0;}

/* BODY > LOGIN / CADASTRE > CONFIGS */
.body-initial {background: #65B087; padding-top: 35px;}
.body-initial h1{text-align:center;font-size:1.5em;font-family: 'Roboto';font-weight: 100; color:#FFF;font-size: 90px;}
.body-initial h3{color: #FFF;text-align: center;margin-bottom: 50px;font: 100 25px 'Roboto';}
.body-initial .box{box-shadow: 0 3px 6px 0 rgba(0,0,0,.32); }
/* BODY > LOGIN > CONFIGS */

/* BODY > DASHBOARD > CONFIGS */
.body-dashboard .box:hover{ box-shadow: 0 3px 6px 0 rgba(0,0,0,.32);}
.body-dashboard .box:hover{ box-shadow: 0 3px 6px 0 rgba(0,0,0,.32);}
/* BODY > DASHBOARD > CONFIGS */

/* BODY (userNotConfirmed) */
body.userNotConfirmed{background: #FF2222;color:#FFF;font: 20px 'Roboto';font-weight: 300;padding: 20px 0;text-align: center}
body.userNotConfirmed p.name{font-size:36px}
body.userNotConfirmed a{color:#FFF;font-style: bold;font-weight: 500;}
body.userNotConfirmed img{width: 230px; height: 230px; }
body.userNotConfirmed #passoAPasso{  font-size:14px; text-align: justify; }
/* BODY (userNotConfirmed) */


.fix-padding-error{padding-top: 60px !important;}.dashboard-main.fix-padding-error, .dashboard.fix-padding-error{ padding-top: 100px !important}

body{font-size: 120%;background: #EAEAEA;}
span{color: #666;font-size: 15px;}
hr{border-color: #E0E0E0;}
a{cursor: pointer;}
a:hover{color: white;text-decoration: none;}

#user-login{
    margin-bottom: 10%;
    box-shadow: 0 0 1px #999;
    opacity: 0.8;
}
#form-login a{
    color: #666;
    outline: none;
}

small{
    color: #999;
}
un{
    color: #555;
    font-size: 14px;
}
/* ===========================  CLASSES  ============================== */
.title{
	color: #666;
	font: 100 600% 'Roboto';
	text-align: center;
	margin: 2% 0 2% 0;
}
.subtitle{
	color: #777;
	font: 100 250% 'Roboto';
	text-align: center;
    text-shadow: 0 1px #EEE;
	margin: 2% 0 4% 0;
}

.box{
    background-color: #FFF;
    min-height: 100px;
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 2px #CCC;
    -moz-box-shadow: 0 2px 2px #CCC;
    box-shadow: 0 2px 2px #CCC;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    
    border-radius: 1px;
    -webkit-transition:0.5s ease all;
    -moz-transition:0.5s ease all;
    -o-transition:0.5s ease all;
}

.profile{font-size: 15px;color:#777;}

.profile h5{ margin-left: 18px;color:#BBB; font: 300 17px Roboto;}
.profile .editUserForm h5{margin-left:0;color:#BBB; font: 300 17px Roboto;}

.profile i{
    font-size: 16px;
    color: #888;
}

.profile .edit-profile i{
    background: #FFF;
    color:#777;
    font-size:24px;
    padding:7px;
    margin-bottom: 10px;    
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.23);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.23);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

}
.profile .edit-profile i:hover{
    -webkit-box-shadow:  0 3px 6px 0 rgba(0,0,0,0.27);
    box-shadow:  0 3px 6px 0 rgba(0,0,0,0.27);
    cursor: pointer;
}
.profile-info{
    background: #2E2E2E;
    -webkit-box-shadow: inset 0 -1px 1px #111;
    -moz-box-shadow: inset 0 -1px 1px #111;
}

.profile-info .info{
    margin: 0 15px;
}
.profile-info.mobile .info{
    margin: 0 20%;
}

.profile-bar{
    background-color: #444;
    height: 100vh;
    -webkit-box-shadow: inset -2px 0 1px #333;
    -moz-box-shadow: inset -2px 0 1px #333;
    padding:0;
    color: #FFF;
}

.profile-bar .mobile{
    text-align: center;
}

#profile-img-lg{
    width:100%;
    height: 230px;
}

#profile-img-lg.status-off{
    border-bottom: 3px solid #E03B50;
}
#profile-img-lg.status-on{ border-bottom: 3px solid #2FAF70;/* 2fc093 */}

#profile-img-sm{
    width:170px;
    height: 170px;
    margin:10px;
}

figure figcaption {	position: absolute;  width: 100%;  top:150px;	text-align: center;	color: #FFF;font: 26px Helvetica;opacity: 0;	transition: 0.3s;cursor: pointer;background-color: #000;padding: 6px;}
figure:hover figcaption{opacity: 0.7;}
.imgUpload {position: relative;	overflow: hidden;}
.imgUpload span{color:#2FAF77;}
.imgUpload input {opacity: 0;top:0;padding: 5px 0;margin-left: -10px;position: absolute;}
.profile-bar p{font: 20px "Roboto";margin: 10px 0;}
.profile-bar h6{color: #9A9A9A;font-size: 12px;}
.profile-nav{margin-top: 1px;}
.profile-nav ul li a{
    color: #EEE;
    font-style: bold;
    font: 12px "Roboto";
}
.profile-nav ul li a:hover{background-color: #3D3D3D;}
.badge{border-radius: 4px ;font: 13px "Roboto" ;background-color: #444;color:#CCC;}
.profile-nav ul li a .badge{   margin-top: -4px;}
.profile-nav ul li a .badge.nova{background-color: #EF3444 ;}

/*  EDIT PROFILE PART */
body.perfil .dashboard {
    font: 15.5px Roboto;
}
/* ADJUSTING */
.editUserForm{padding:20px;}
.editUserForm.row div{padding:0px;}

/* ADJUSTING */


.editUserForm  input[type='text'],.editUserForm input[type='email'], .editUserForm select, .editUserForm textarea {
    border:none;    
    border-bottom:1px solid #CCC !important;
    padding: 0px 0 0px 0;
    color:#777;
    width: 95% !important;
    outline: none;
    height: 36px !important;
    background: none;
    margin: 0;
    font: 300 14px Roboto !important;
    resize:none;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.editUserForm input:focus, .editUserForm textarea:focus{
    border-bottom: 1px solid #2FC090;
}
.editUserForm input[type="submit"], .editUserForm input[type="reset"]{
    border-radius: 2px;
    width: 40%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    font: 300 13px Roboto;
}

.editUserForm input.btn-success{background: #2FAF70;}
.editUserForm input.btn-danger{background: #E03B50;float:right;}


/*  EDIT PROFILE PART */

.dashboard, .dashboard-main{padding: 50px 10%;overflow: auto;max-height: 100vh;}

.dashboard-mobile{
    padding: 50px 10px;
    overflow-y: auto;
    overflow-x: none;
    max-height: 100vh;
}

.dashboard a, .dashboard-main a , .dashboard-mobile a{
    color: #2FAF70;
}
.dashboard .publish , .dashboard-main .publish  , .dashboard-mobile .publish{
    color: #666;
    resize:none;
    border:none;
    /*height: 30px;*/
    /*max-height: 200px;*/
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
    font: 15px Helvetica;
    outline: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
}

.dashboard .panel, .dashboard-main .panel , .dashboard-mobile .panel{border-radius: 1px;}
/*.dashboard #publish:focus{
    -webkit-box-shadow: 0 1px 1px #BBB;
    -moz-box-shadow: 0 1px 1px #BBB;

}*/
.navbar button{background: #FFF;border:none;}
.navbar ul li a{font-size: 12.5px;}
.dashboard form input, .dashboard-main form input , .dashboard form select, .dashboard-main form select ,  .dashboard-mobile form input , .dashboard-mobile form select{
    width: 90px;
    height: 30px;
    border:none;
    outline: none;
}

.dashboard form select, .dashboard-main form select , .dashboard-mobile form select{
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0 1px 1px #CCC;
    font: 12.2px Helvetica;
}
.dashboard form select option, .dashboard-main form select option , .dashboard-mobile form select option{background: #FFF;color: #555;}
.dashboard form input, .dashboard-main form input ,.dashboard-mobile form input{border-radius: 20px;font-size: 12.1px;background: #AFDFBF;color:#FFF;}
.dashboard #categorias, .dashboard-main #categorias, .dashboard-mobile #categorias{margin-top:0px;}
.dashboard .detalhes, .dashboard-main .detalhes, .dashboard-mobile .detalhes{
    max-height: 30px;
    min-height: 30px;
    width: 100%;
    margin-top:10px;
}
span.icon{font-size: 12px;color:#555;}
span.close-icon{font-size: 27px;color:#555;}

.dashboard span.icon-post, .dashboard-main span.icon-post, span.icon-comment ,.dashboard-mobile span.icon-post, span.icon-comment{
    font-size: 10px;
    color: #FFF;
}
textarea.edit-area-post, textarea.edit-area-comment{
    width:100%;
    resize:none;
    border:none;
    border-bottom:1px solid #DDD;
    outline: none;
    padding-left: 4px;
    border-radius: 1px;
}

textarea.edit-area-post:focus, textarea.edit-area-comment:focus{border-bottom:1px solid rgba(47, 192, 128,0.7);}

.save-edit{color:#2FAF70;background: #F2F2F2;}
.save-edit:hover{background: #EEE;color:#2FAF70;}
.cancel-edit{color:#999;background: #F2F2F2;}
.cancel-edit:hover{background: #EEE;color:#888;}
.save-edit, .cancel-edit{width: 47%;}
.post:hover span.icon-post{color: #BBB;}
.post .hide_comments{ padding: 5px;}

/* Notifications */
.notifications{border:none;}
.notifications li{width: 50%;border:none;}
.notifications li.active{border: none;background: #FFF;}

.nav-tabs > li.active > a, .nav-tabs>li>a  ,.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {border:none;}

.notifications li a{
    color:#AAA;
    background-color: #F1F1F1;
    font: 400 13px bold 'Roboto';
    border-radius: 0;
    padding-bottom: 15px;
}

.tab-notifications{margin: 0; padding: 14px 0 30px 0 ;}
.tab-notifications ul#friends-requests, .tab-notifications ul#forums {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: none;
    max-height: 350px;
}
ul#friends-requests li , ul#forums li{height: 75px;}

.tab-notifications ul#friends-requests li a:hover, .tab-notifications ul#forums li a:hover {cursor: pointer;text-decoration: underline;}

.tab-notifications ul#friends-requests li, .tab-notifications ul#forums li{
    list-style: none;
    display: block;
    padding: 15px 15px;
    margin: 0 0 10px 0;
    border-left: 4px solid #FFF;
}

.tab-notifications ul#friends-requests li:hover, .tab-notifications ul#forums li:hover{
    background: #EFEFEF;
    cursor: pointer;
    border-left: 4px solid #D5D5D5;
}

.tab-notifications ul#friends-requests li i.friend-accept{
    background: #CCC;
    border-radius: 100%;
    padding: 4px;
    color:#FFF;
    font-size: 17px;
    margin-top: 7px;
}
.tab-notifications ul#friends-requests li i.friend-accept:hover{
    background: #2FAF70;
     -webkit-transition:  0.3s;
    -o-transition:  0.3s;
    transition: 0.3s;
}.tab-notifications ul#friends-requests li i.friend-reject{
    background: #CCC;
    border-radius: 100%;
    padding: 4px;
    color:#FFF;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 6px;
}
.tab-notifications ul#friends-requests li i.friend-reject:hover{
    background: #D9534F;
    -webkit-transition:  0.3s;
    -o-transition:  0.3s;
    transition: 0.3s;
}
.tab-notifications  .friends-top,.forums-top{padding: 0 20px; text-align: right;}
.tab-notifications i.accept-all{background: #2FAF70;border-radius: 100%;padding: 7px;color:#FFF;font-size: 20px;}
.tab-notifications i.accept-all:hover{cursor: pointer;}

/* ICONS NOTIFICATIONS */
.icon-notifications{
    color:#FFF;
    background: #22AA77;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.34);
    position:relative;
    top:-20px;
    /* Talvez fique */
    left:2px;
    padding:4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Talvez fique */
}

.forums-top .accept-all,  .friends-top .accept-all{ transition: 0.3s;}
.forums-top .accept-all:hover, .friends-top .accept-all:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    
}

/* ICONS NOTIFICATIONS */

/* notifications */



/* COISAS DAS POSTAGENS */


/*  FOLLOW  */

.friendsdiv button.btn-success ,.friendsdiv .dropdown-toggle:focus , .friendsdiv .dropdown-toggle {background: #2FAF70; color:#FFF; outline: none;}
.friendsdiv button:hover{background: #2FAF70;}
.btn-follow{font-size:13px;width: 100%;outline: none;}
.btn-follow:hover{font-size: 13px;}
.btn-follow:focus{outline: none;}
.btn.follow, .btn.follow_done{background-color: #2FAF70;color:#FFF;}
.btn.follow, .btn.follow_done:hover{background-color: #2FA070;}
.btn.unfollow:hover, .btn.unfollow_w:hover{background-color: #EE3537;color:#FFF;}
.btn.waiting{background-color: #AAA;color:#FFF;}

/* NAV FRIENDS _ (VIEW FRIENDS) */
.nav-friend{width: 100%;}
.nav-friend .row{margin-bottom: 20px;padding: 10px ;}
.nav-friend .row .bordered { border-bottom: 1px solid #EEE; padding-bottom: 20px; }
.nav-friend .row:hover{background: #EEE;cursor: pointer;}
.nav-friend img{width: 70px;height: 70px;border-radius: 100%;}
.nav-friend p{font-size: 15px;} .nav-friend small{font-size: 12.5px;}
.nav-friend a{ color:#666; text-decoration: none; }
/* NAV FRIENDS _ (VIEW FRIENDS) */

/*  FOLLOW  */

.comment{padding: 10px 0; margin: -10px 0;}
.comment:hover span.icon-comment{color: #AAA; background: transparent;}
.cx-comments{margin-top: 0;overflow-y: auto; overflow-x:none;max-height: 600px;}
.cx-comentar{width: 100%;border:none;border-bottom:1px solid #DDD;padding-left: 7px;padding-top: 0px;margin-bottom: 0px;color:#777;outline: none;border-radius: 2px;height: 26px;resize: none;}
.cx-comentar:focus{border-bottom:1px solid #2FAF70;}
.do_like{font-size: 19px;color:#999;}
.do_like:hover{cursor: pointer;}
.do_like count{font-size: 9px;}
.cx-comments{margin-top: 20px;}
.comment-icon{font-size: 19px;color: #2FAF70;margin-left: 5px;}
.comment-icon:hover{cursor: pointer;}
.comment-icon count{font-size: 9.5px;margin-left: 2px;}
.send_comment:hover{cursor: pointer;}
.stared{font-size: 15px;color: #FFF700;}
.cx-comments .star-this-comment{margin-right:4px;font-size:15px;color:#AAA;}
.cx-comments .star-this-comment.stared{color: #FFF700;text-shadow:0 1px #BBB;}


.listPeople{
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

/* COISAS DAS POSTAGENS */
 
.chat{
    background-color: transparent;
    -webkit-box-shadow: inset 1px 0 1px 0 rgba(100,100,100,0.200);
    box-shadow: inset 1px 0 1px 0 rgba(100,100,100,.200); 
    padding: 0px;
    height: 100vh;  
}

#list{ max-height: calc(100vh - 200px); overflow: auto; margin: 10px 0 0 10px;  }
.chat #list li{float:left; width: 100%; list-style: none; padding: 1px 0 0 0; margin-bottom:20px; border-bottom:1px solid transparent;}
.chat #list li:hover{cursor: pointer; border-bottom:1px solid #DFDFDF;}
.chat #list img{width: 37px; height: 37px; border-radius: 100%;}
.chat #list li p{color:#666; font:13.5px 'Roboto'; }

.chat #list li i{font-size: 10px; margin: 10px 0 0 0; font-weight: 600;}

.chat #list li i.status-on{color: #2FAF70;}
.chat #list li i.status-off{color: #EF6344; }

.chat input[type="search"]{
    background: none;
    border: none;
    color:#666;
    border-bottom: 1px solid #CDCDCD;
    padding: 20px 20px 15px 5px;
    margin:20px auto 0 auto ;
    width: 90%;
    height: 30px;
    outline: none;
    font: 12px "Roboto";
    transition:0.5s;
}
.chat input[type="search"]::-webkit-input-placeholder {color: #AAA;}
.chat input[type="search"]::-moz-input-placeholder {color: #AAA;}
.chat input[type="search"]::-o-input-placeholder {color: #AAA;}
.chat input[type="search"]::-ms-input-placeholder {color: #AAA;}

.chat input[type="search"]:focus{border-bottom: 1px solid #56AF99;}

/* POPUP'S */
#janelas{
    position: fixed;
    bottom: -1px;
    right: 17%;
    width: 66%;
    background: #FFF;
    height: 0;
    z-index: 10;
}

.chat-popup{
    float: right;
    margin-right: 5px;
    border-right: 1px solid #CCC;
    border-left:  1px solid #CCC;
    border-top-right-radius: 2px;
    border-top-left-radius:  2px;
}
.chat-popup-top{
    background: #2FAF70;/*43A067,3ABC6F*/
    min-height: 35px;
    max-height: 35px;
    width: 260px;
    color: white;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    cursor: pointer;
    border-bottom: 2px solid #2FAA80;
}

.chat-popup.chat-off .chat-popup-top{
    background-color: #444;
    border-bottom: 2px solid #666;
    color:#FEFEFE;
}
.chat-popup.chat-off .chat-popup-top span{color:#333;}
.chat-popup.chat-off .chat-popup-top:hover span{color:#FFF;}
.chat-popup.chat-off .mensagens ul li.to .toImg{opacity: 0.5;}

.chat-popup-top .row{padding-top: 10px;}
.chat-popup-top span{color: #339F65;font-size: 11px;margin-right: 10px;}
.chat-popup-top:hover span{color: #EAEFEA;}

.chat-popup-top n{font-size: 13px;padding-left: 10px;}
.chat-popup-top img{width: 26px;height: 26px;border-radius: 100%;margin-top: 5px;margin-left: 10px;}

.chat-body{
    background: #F2F2F2;
    width: 260px;
    padding: 2px;
}
.mensagens div.listar{
    float: left;
    width: 100%;
    max-height: 246px;
    min-height: 246px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top:10px;
}

.mensagens ul {
    float:left;
    width: 100%;
    padding:0 10px 0 40px;
}
.mensagens ul li{
    float: left;
    list-style:none;
    margin:5px 0;
    width: 100%;
    position: relative;
    /* background-color: #AAA; */
}

.mensagens ul li.from span{
    float:right;
    background-color: #2FAF80;
    /* background-color: #3ABC6F; */
    font-size: 13px;
    min-width: 40px;
    min-height: 35px;
    padding: 8px;
    margin-right: 8px;
    color: #FFF;
    box-shadow: 0 1px 1px #119941;
    -moz-box-shadow: 0 1px 2px #11A041;
    -o-box-shadow: 0 1px 2px #11A041;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.mensagens ul li.to span{
    float:left;
    background-color: #FFF;
    font-size: 13px;
    min-width: 40px;
    min-height: 35px;
    color: #777;
    padding: 8px;
    margin-left: 4px;
    box-shadow: 0 1px 2px #CFCFCF;
    -moz-box-shadow: 0 1px 2px #CFCFCF;
    -o-box-shadow: 0 1px 2px #CFCFCF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.mensagens ul li.to .toImg{
    position: absolute;
    width:28px;
    height:28px;
    left: -35px;
    top:5px;
}

.from .arrow{
    position: relative;
}

.from .arrow::after{
    content: "";
    display: block;
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent;
    border-left: 8px solid #2FAF80;
    right:0px;
    top:12.2px;
    width: 0;
    height: 0;
}

.to .arrow{
    position: relative;
}
.to .arrow::after{
    content: "";
    display: block;
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #FFF;
    left:-4px;
    top:12.3px;
    width: 0;
    height: 0;
}

.mensagem{
    background-color: #FFF;
    color:#666;
    width: 85%;
    height: 35px;
    resize: none;
    margin: 0 0 0 5px;
    outline: none;
    font-size: 13px;
    border:none;
    border-radius: 4px;
    padding: 8px 7px;
    -webkit-box-shadow: 0 1px 1px #DDD;
    box-shadow: 0 1px 1px #DDD;
}
.chat-body span.menu-options{
    color:#999;
    font-size: 17px;
    padding: 5px;
    position: relative;
    left:4px;
    top:-10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius:100%;
    text-align: center;
}

.chat-body span.menu-options:hover{
    background-color: #DFDFDF;
    cursor:pointer;

}
.hide-audio{
    visibility: hidden;
    position: absolute;
    left:0;
    top: 0;
}
/* AQUI VAI SER O CSS DA NOTIFICAÇÃO */


.notification-bar{
    position: fixed;
    width: 100%;
    top:10%;
    right:0;
    padding-right:10px;
}

.notification-pin{
    float:right;
}


.notification{
    background-color: #FFF;
    width: 370px;
    height: 100px;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 1px 2px #BFBFBF;
    box-shadow: 0 1px 2px #BFBFBF;
    border-radius: 2px;
    opacity:0.98;
    margin: 15px 10px;
}

.notification:hover{
    cursor: pointer;
}

.notification  img{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.notification .header{
    padding: 6px 10px;
}
.notification .content{
    padding: 0 10px;
    margin-left: 1px;
}

.notification .content p{
    color:#555;
    min-height: 35px;
}
.notification .content small{
    margin-right: 20px;
}

.notification h5{
    font-size: 15px;
    color:#666;
    margin-top: 4px;
}



.notification span{
    font-size: 10px;
    color:#AAA;
    margin: 2.5px 0 0 0;
    cursor: pointer;
    visibility: hidden;
}
.notification:hover span{visibility: visible;}
/* AQUI VAI SER O CSS DA NOTIFICAÇÃO */



/* FORM  */


/* INPUTS, FORMs e ETC... :p */

.group{position: relative; margin-bottom: 1em;}
label{color:#D2D2D2;font-size: 15px;font-weight: 300;position: absolute;pointer-events:none;top:0px;transition: 0.2s ease all;}
.input-flat{width:100%;height: 30px;color: #666;font-size: 120%;border:none;border-bottom: 1px solid #CCC;background-color: transparent;box-shadow: none;outline: none;}

/* BAR  - Animation */
.bar {position: relative;display: block;width: 100%;}
.bar:before, .bar:after{content: "";height: 2px;width: 0;bottom: -1px;position: absolute;background-color: #6FC28F;transition: 0.2s ease all;}
.bar:before{left: 50%;}
.bar:after{ right: 50%;}
/* VALIDATION */
.input-flat:valid{border-bottom: 1px solid #6FC28F;}
.input-flat:valid ~ .bar:before, input:valid ~ .bar:after{background-color: #6FC28F !important;} 
.input-flat:focus ~ label,.input-flat.used  ~ label{top:-20px;font-size: 13px;color:#6FC28F;} .input-flat:valid ~ label,.input-flat:valid.used ~ label{color:#6FC28F;}
.input-flat:focus ~ .bar:before,.input-flat:focus ~ .bar:after{width: 50%;}

.input{
    width:100%;
    height: 36px;
    color: #666;
    font-size: 120%;
    border:2px solid #DDD;
    padding-left: 3%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}


.passWatcher{
    font-size: 17px;
    padding: 6px;
    background-color: #FFF;
    border-radius: 100%;
    color: #56AA99;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.20);
}
.passWatcher:hover{cursor: pointer;}

#form-cadastro{
    padding:20px;
}


/* FOOTER */
.footer-main{
	background-color: #FFF;
	color: #666;
	font-size: 90%;
	height: 40px;
	margin: 4% auto 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px #BBB;
	-moz-box-shadow: 0 1px 2px #BBB;
	box-shadow: 0 1px 2px #BBB;
}

.footer-main p , .footer-main ul {
	text-align: center;
	color: #777;
}

.nav-footer li{
	list-style: none;
	padding: 1% 1% 1% 1% ;
	display: inline-block;
	text-align: center;
}

.nav-footer li a:hover{
	text-decoration: none;
}


/* end footer */

/* ===========================  CLASSES  BOOTSTRAP ============================== */


#navbar-main,
#navbar-main ul,
#navbar-main ul li,
#navbar-main ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.7;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navbar-main:after,
#navbar-main  ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#navbar-main {
    width: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background: #65B087;
    box-shadow: 0 3px 4px 0 rgba(10,10,10,0.20);
}

#navbar-main ul  li {
  float: left;
}

#navbar-main ul  li  a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;    
  color: #FFF;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#navbar-main ul  li:hover  a{
  color: #FFF;
}
#navbar-main  ul  li.has-sub  a {
  padding-right: 25px;
}
#navbar-main  ul  li.has-sub  a::after {
  position: absolute;
  top: 26px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

#navbar-main ul ul {position: absolute;left: -9999px;}
#navbar-main li:hover ul {left: auto;}
#navbar-main ul ul ul {margin-left: 100%;top: 0;}
#navbar-main ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#navbar-main ul li:hover  ul  li {
  height: 32px;
}
#navbar-main ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#navbar-main ul ul li.has-sub:hover a {color:#45CD99;}
#navbar-main ul ul li.has-sub  a::after {border-color: #333;}
#navbar-main button{display: none;}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #navbar-main button{
        margin: 10px;
        padding: 8px 10px;
        font-size: 22px;
        color:#fff;
        background-color: transparent;
        transition:0.5s;
        outline: none;
        display: inherit;
    }
    #navbar-main button:focus{
        box-shadow: none;
    }
    #navbar-main button.anim{
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }

    #navbar-main .hideIt{display: none;}

    #navbar-main ul li:hover ul li{
      width: 100%;
      margin: 7px 0 0 0;
      border-top: 1px solid rgba(12, 100, 20, 0.10); 
    }

    #navbar-main ul li a,
    #navbar-main ul ul li a {width: 100%;}
    #navbar-main ul li{float: none;display: block;}

    #navbar-main ul ul li a {padding: 20px 20px 20px 30px;}
    #navbar-main ul ul ul li a {padding-left: 40px;}
    #navbar-main ul ul,#navbar-main ul ul ul {
      background-color: #333;
      right: auto;
      width: 100%;
      margin: 0;
    }

}




.carousel{width: 100%;}
.form-control{
	color: #666;
	font-size: 120%;
	width: 100%;
	height: 36px;
	border:2px solid #DDD;
	padding-left: 3%;
        margin: 2% 0 3% 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: none;
}
.form-control:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input.success:focus{
    border: 2px solid #2FAF70;
}

.btn{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top:  5%;
    outline: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}

.btn-default{background-color: #DADADA}
.btn.form{width: 48%;}

.btn-success{background-color: #2FAF70;outline: none;}
.btn-success:hover , .btn-success:focus{background-color: #2F9F70;}

.btn-danger{background-color: #E03B50;}
.btn-danger:hover , .btn-danger:focus{background-color: #D03B50;}

.btn,.btn-success,.btn-danger,.btn-warning,.btn-default,.btn-primary,.btn-info{
    border:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin:  0;
    outline: none;
}

.divider{
    height: 3px;
    background: #DDD;
    border-radius: 20px;
}


/* SOME MODALS */
#incompatiblepass .modal-dialog{
    width: 500px;
}

#incorrect_user .modal-dialog {
    width: 500px;
}

#areusure .modal-dialog {
    width: 350px;
}

#main .modal-dialog {
    width: 700px;
}

#city .modal-dialog {
    margin-top:-40px;
}


#map_city{
    margin: 0;
    padding: 0;
    width:100%;
    height:400px;
}

/* SOME MODALS */



.modal{
    padding-top: 100px;
}
.modal-header{
    border:none;
}
.modal-title{
    font-size: 22px;
    color:#666;
}

.modal .close{
    outline: none;
    height: 34px;
    width: 34px;
    color: #DFDFDF;
}
.modal .close:hover{
    background-color: #EEE;
    border-radius: 100%;
}

.modal .btn{
    width: 100%;
    margin-top: 15px;
    outline: none;
    background-color: #FFF;
}

.modal .btn.btn-default{
    color:#2FAF77;
    outline: none;
}
.modal .btn.btn-default:hover{
    background-color: #EEE;
}
.modal .btn.cancel-btn{
    color: #888;
    background-color: #FFF;
    outline: none;
}

.modal .btn.cancel-btn:hover{
    background-color: #EEE;
}
/* ===========================  CLASSES  BOOTSTRAP ============================== */




/*  SALAS DE DIRCURSÃO */


/*CATEGORIAS DAS SALAS e SALAS DE DIRCURSÃO */

.categorias{
    padding: 30px 50px 60px 50px;
}
.categoria{
    text-align: center;
    color:#888;
    margin: 10px 0px;
    height: 150px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding:20px;
}
.categoria:hover{
    margin-top: -5px;
    cursor: pointer;
}

.categoria img{
    width:120px;
    height: 110px;
}




.informatica{border-top: 10px solid #70A0D0;}
.eletronica{border-top: 10px solid #F03B50;}
.administracao{border-top: 10px solid #99AAAF;}
.fisica{border-top: 10px solid #FF8F3F;}
.quimica{border-top: 10px solid #AF6EDF;}
.biologia{border-top: 10px solid #6FC360;}
.matematica{border-top: 10px solid  #AF345E;}
.linguagens{border-top: 10px solid #359397;}
.geografia{border-top: 10px solid #5FE6D0;}
.historia{border-top: 10px solid #AF833D;}
.filosofia{border-top: 10px solid #888;}
.sociologia{border-top: 10px solid #E07586;}
/*.categoria-exemplo{border-top: 10px solid #E07586;}*/

.forum{
    margin-bottom:40px;
    padding: 5px 20px 20px 20px;
    color:#FFF;
}
.forum:hover{
    cursor:pointer;
}
.forum p, .forum small, .forum h4{
    cursor:text;
}

.forum.informatica{background-color: #70A0D0;}
.forum.eletronica{background-color: #F03B50;}
.forum.administracao{background-color: #99AAAF;}
.forum.fisica{background-color: #FF8F3F;}
.forum.quimica{background-color: #AF6EDF;}
.forum.biologia{background-color: #6FC360;}
.forum.matematica{background-color: #AF345E;}
.forum.linguagens{background-color: #359397;}
.forum.geografia{background-color: #5FE6D0;}
.forum.historia{background-color: #AF833D;}
.forum.filosofia{background-color: #888;}
.forum.sociologia{background-color: #E07586;}

.forum a{
    color:#F0F0F0;
}
.forum a:hover{
    text-decoration: underline;
}

.forum p{
    margin-top: 10px;
}

.forum h4{
    margin-top:10px;
    font-size: 15px;
}
.forum small{
    color:#E0E0E0;
}

.forum content{
    font-size: 17px;
    margin-top: 50px;
}





/*  SALAS DE DIRCURSÃO */




/* PAGINAS DOS DEVS */


/*                              DESENVOLVEDORES                             */
body.desenv{
    background-color: #D5D5D5;
    padding: 00 15px;
}

/*                                ROW_2                               */
.row1{
    background-color: #FFF;
}

.col1_row1{
    padding: 2% 0 2% 20%;
}

.col2_row1{
    padding: 1% 0 0 0;
}

.ul_col2_row1 li{
    float: left;
    list-style: none;
    margin: 8%;
}

.ul_col2_row1 li a{
    font: 12px "Roboto";
    color: #5d5d5d;
}

.ul_col2_row1 li a:hover{
    color: #33FF9A;
}

/*                                ROW_2                               */
.img1_col1_row2{
    width: 400px;
    height: 400px;
    margin: 4% 0 4% 30%;
}

.col2_row2{
    padding: 4% 0 0 2%;
    margin-left: 0px;
}

.l2_col2_row2{
    width: 80%;
    height: 150px;
}

.ccl_col2_row2{
    background-color: greenyellow;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    float: left;
    margin: 2%;
    padding-top: 55px;
    text-align: center;
    font: 15px "Roboto Condensed";
}

#c1{
    background-color: #E83555;
}

#c2{
    background-color: #33DDFF;
}

#c3{
    background-color: #33FF9A;
}

.l3_col2_row2{
    width: 70%;
    padding: 2%;
}

/*                                ROW_3                               */

.row3{
    background-color: #33FF9A;
    padding: 2% 0;
}

.col_row3 li{
    width: 150px;
    float: left;
    margin: 3px 6%;
    list-style: none;
}

.icones{
    width: 45px;
    height: 45px;
    background-color: #333;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
}

t1{
    font: 40px "Roboto Condensed";
}

t2{
    font: 25px "Roboto Condensed";
}

t3{
    font: 50px "Roboto Condensed";
}

t4{
    font: 30px "Roboto Condensed";
}

t5{
    font: 12px "Roboto Condensed";
}

t6{
    font: 12px "Roboto";
    color: #FFF;
}
/* PAGINAS DOS DEVS */


/* Code to change the scrollbar*/
.dashboard::-webkit-scrollbar , .dashboard-main::-webkit-scrollbar {display: none;}
.dashboard::-moz-scrollbar,.dashboard-main::-moz-scrollbar {display: none;}
.dashboard::-ms-scrollbar,.dashboard-main::-ms-scrollbar {display: none;}
.dashboard::-o-scrollbar , .dashboard-main::-o-scrollbar{display: none;}

.dashboard .publish::-webkit-scrollbar, .dashboard-main .publish::-webkit-scrollbar{width:8px;}
.dashboard .publish::-webkit-scrollbar-track-piece,.dashboard-main .publish::-webkit-scrollbar-track-piece { background-color: #FFF;}
.dashboard .publish::-moz-scrollbar, .dashboard-main .publish::-moz-scrollbar{width:8px;}
.dashboard .publish::-moz-scrollbar-track-piece, .dashboard-main .publish::-moz-scrollbar-track-piece { background-color: #FFF;}
.dashboard .publish::-o-scrollbar, .dashboard-main .publish::-o-scrollbar{width:8px;}
.dashboard .publish::-o-scrollbar-track-piece, .dashboard-main .publish::-o-scrollbar-track-piece  { background-color: #FFF;}




.cx-comments::-webkit-scrollbar { width: 5px;height: 50px;}
.cx-comments::-webkit-scrollbar-track-piece { background-color: #FFF;}
.cx-comments::-moz-scrollbar { width: 5px;height: 50px;}
.cx-comments::-moz-scrollbar-track-piece { background-color: #FFF;}
.cx-comments::-o-scrollbar { width: 5px;height: 50px;}
.cx-comments::-o-scrollbar-track-piece { background-color: #FFF;}



/*conversa com alguem*/
/* .listar::-webkit-scrollbar-thumb:vertical{
    background-color: #F2F2F2;
    -webkit-transition:7s;
}
.listar::-webkit-scrollbar-thumb:vertical:hover{
    background-color: #CCC;
    cursor: pointer;
}
 */
.listar::-webkit-scrollbar { width: 6px}
.listar::-webkit-scrollbar-track-piece { background-color: #F2F2F2}
.listar::-moz-scrollbar{width: 6px}
.listar::-moz-scrollbar-track-piece{ background-color: #F2F2F2}
.listar::-o-scrollbar { width: 6px}
.listar::-o-scrollbar-track-piece { background-color: #F2F2F2}

.mensagem::-webkit-scrollbar{width: 5px}
.mensagem::-webkit-scrollbar-track-piece{background-color: #F2F2F2}
.mensagem::-moz-scrollbar{width: 5px}
.mensagem::-moz-scrollbar-track-piece{background-color: #F2F2F2}
.mensagem::-o-scrollbar{width: 5px}
.mensagem::-o-scrollbar-track-piece{background-color: #F2F2F2}

/*conversa com alguem*/
/*listagem dos amigos*/
#list::-webkit-scrollbar { width: 7px;transition: 0.3s;}

#list::-moz-scrollbar { width: 7px;transition: 0.3s;}
#list::-ms-scrollbar { width: 7px;transition: 0.3s;}
#list::-o-scrollbar { width: 7px;transition: 0.3s;}
#list::-webkit-scrollbar:hover{ width: 8px;}
#list::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {display: none;}

#list::-webkit-scrollbar-track-piece { background-color: #EAEAEA;}
#list::-webkit-scrollbar-thumb:vertical { background-color: rgba(200,200,200,0.30);box-shadow: none;-webkit-border-radius: 10px; border: 1px solid rgba(200,200,200,0.50);}






.tab-notifications ul#friends-requests::-webkit-scrollbar{
    width:6px;
}
.tab-notifications ul#friends-requests::-moz-scrollbar{
    width:6px;
}
.tab-notifications ul#friends-requests::-o-scrollbar{
    width:6px;
}
.tab-notifications ul#friends-requests::-ms-scrollbar{
    width:6px;
}

.tab-notifications ul#friends-requests::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}
.tab-notifications ul#friends-requests::-moz-scrollbar-track-piece {
    background-color: #FFF;
}
.tab-notifications ul#friends-requests::-o-scrollbar-track-piece {
    background-color: #FFF;
}
.tab-notifications ul#friends-requests::-ms-scrollbar-track-piece {background-color: #FFF;}
/*listagem dos amigos*/
::-webkit-scrollbar {width: 11px;}
::-webkit-scrollbar:hover {width: 19px;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {display: none;}
::-webkit-scrollbar-track-piece {background-color: #D0D0D0;}
::-webkit-scrollbar-thumb:vertical {background-color: rgba(160,160,160,0.5);box-shadow: none;-webkit-border-radius: 5px;border: none;}
::-moz-scrollbar {width: 11px;}
::-moz-scrollbar:hover {width: 19px;}
::-moz-scrollbar-button:start:decrement,::-moz-scrollbar-button:end:increment {display: none;}
::-moz-scrollbar-track-piece {background-color: #D0D0D0;}
::-moz-scrollbar-thumb:vertical {
    background-color: rgba(160,160,160,0.5);
	box-shadow: none;
	-webkit-border-radius: 5px;
	border: none;
}


