<style>
#circleG{
width:140.33333333333334px;
}

.circleG{
background-color:#EAEAEA;
float:left;
height:14px;
margin-left:17px;
width:14px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.7999999999999998s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-border-radius:21px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.7999999999999998s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-border-radius:21px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.7999999999999998s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-border-radius:21px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.7999999999999998s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-border-radius:21px;
animation-name:bounce_circleG;
animation-duration:1.7999999999999998s;
animation-iteration-count:infinite;
animation-direction:normal;
border-radius:21px;
}

#circleG_1{
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#circleG_2{
-moz-animation-delay:0.8400000000000001s;
-webkit-animation-delay:0.8400000000000001s;
-ms-animation-delay:0.8400000000000001s;
-o-animation-delay:0.8400000000000001s;
animation-delay:0.8400000000000001s;
}

#circleG_3{
-moz-animation-delay:1.0799999999999998s;
-webkit-animation-delay:1.0799999999999998s;
-ms-animation-delay:1.0799999999999998s;
-o-animation-delay:1.0799999999999998s;
animation-delay:1.0799999999999998s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#999}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#999}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#999}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#999}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#999}

100%{
}

}

</style>
<center>
	<div id="circleG">
		<div id="circleG_1" class="circleG"></div>
		<div id="circleG_2" class="circleG"></div>
		<div id="circleG_3" class="circleG"></div>
	</div>
<center>